* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.marcas {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center; }

.cuerpo {
  position: relative; }

.img1 {
  position: absolute;
  left: 260px;
  top: 50px; }

.img2 {
  position: absolute;
  right: 260px;
  top: 50px; }

.img3 {
  position: absolute;
  left: 260px;
  top: 340px; }

.img4 {
  position: absolute;
  left: 600px;
  top: 340px; }

.img5 {
  position: absolute;
  right: 600px;
  top: 340px; }

.img6 {
  position: absolute;
  right: 260px;
  top: 340px; }

.img8 {
  position: absolute;
  right: 260px;
  top: 680px; }

.img7 {
  position: absolute;
  left: 260px;
  top: 680px; }

[class^="imghvr-fade"] figcaption,
[class*=" imghvr-fade"] figcaption {
  opacity: 0; }

[class^="imghvr-fade"]:hover figcaption,
[class*=" imghvr-fade"]:hover figcaption {
  opacity: 1; }

[class^="imghvr-fade"]:hover > img,
[class^="imghvr-fade"]:hover figcaption,
[class*=" imghvr-fade"]:hover > img,
[class*=" imghvr-fade"]:hover figcaption {
  transform: translate(0, 0); }

/* imghvr-fade
      ----------------------------- */
/* imghvr-fade-in-up
      ----------------------------- */
.imghvr-fade-in-up figcaption {
  transform: translate(0, 15%); }

/* imghvr-fade-in-down
      ----------------------------- */
.imghvr-fade-in-down figcaption {
  transform: translate(0, -15%); }

/* imghvr-fade-in-left
      ----------------------------- */
.imghvr-fade-in-left figcaption {
  transform: translate(-15%, 0); }

/* imghvr-fade-in-right
      ----------------------------- */
.imghvr-fade-in-right figcaption {
  transform: translate(15%, 0); }

[class^="imghvr-"],
[class*=" imghvr-"] {
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  background-color: #2266a5;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0); }
  [class^="imghvr-"] > img,
  [class*=" imghvr-"] > img {
    vertical-align: top;
    max-width: 100%; }
  [class^="imghvr-"] figcaption,
  [class*=" imghvr-"] figcaption {
    background-color: #0204057c;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff; }
    [class^="imghvr-"] figcaption h1,
    [class^="imghvr-"] figcaption h2,
    [class^="imghvr-"] figcaption h3,
    [class^="imghvr-"] figcaption h4,
    [class^="imghvr-"] figcaption h5,
    [class^="imghvr-"] figcaption h6,
    [class*=" imghvr-"] figcaption h1,
    [class*=" imghvr-"] figcaption h2,
    [class*=" imghvr-"] figcaption h3,
    [class*=" imghvr-"] figcaption h4,
    [class*=" imghvr-"] figcaption h5,
    [class*=" imghvr-"] figcaption h6 {
      color: #ffffff; }
  [class^="imghvr-"] a,
  [class*=" imghvr-"] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]:before,
[class^="imghvr-"]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *:before,
[class^="imghvr-"] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
  box-sizing: border-box;
  transition: all 0.35s ease; }

.vermas {
  position: absolute;
  left: 42%;
  top: 45%; }

/* imghvr-fade-*
   ----------------------------- */
[class^="imghvr-fade"] figcaption,
[class*=" imghvr-fade"] figcaption {
  opacity: 0; }

[class^="imghvr-fade"]:hover figcaption,
[class*=" imghvr-fade"]:hover figcaption {
  opacity: 1; }

[class^="imghvr-fade"]:hover > img,
[class^="imghvr-fade"]:hover figcaption,
[class*=" imghvr-fade"]:hover > img,
[class*=" imghvr-fade"]:hover figcaption {
  transform: translate(0, 0); }

/* imghvr-fade
   ----------------------------- */
/* imghvr-fade-in-up
   ----------------------------- */
.imghvr-fade-in-up figcaption {
  transform: translate(0, 15%); }

/* imghvr-fade-in-down
   ----------------------------- */
.imghvr-fade-in-down figcaption {
  transform: translate(0, -15%); }

/* imghvr-fade-in-left
   ----------------------------- */
.imghvr-fade-in-left figcaption {
  transform: translate(-15%, 0); }

/* imghvr-fade-in-right
   ----------------------------- */
.imghvr-fade-in-right figcaption {
  transform: translate(15%, 0); }

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.nav {
  display: flex;
  list-style: none;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.nav li {
  padding: 20px;
  border-right: solid black 1px;
  border-left: solid 1px black; }

.nav a {
  color: black;
  text-decoration: none; }

.nav :visited {
  text-decoration: none; }

li :hover {
  color: #555454; }

.footer {
  background-color: white;
  padding: 25px;
  text-align: end; }

.footer i {
  color: #050505;
  font-size: 30px;
  padding: 8px; }

.footer i:hover {
  background-color: rgba(14, 14, 14, 0.295);
  border-radius: 25%; }
