* {
  margin: 0;
  padding: 0;
}

.marcas {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.cuerpo{
    background-color: white;
}
.adidas {
    background-color: white;
}
.adidas :hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.envios {
    background-color: white;
}
.envios :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.puma {
    background-color: white;
}
.puma :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.converse {
    background-color: white;

}
.converse :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.nike {
    background-color: white;

}
.nike :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.pais {
    background-color: white;

}
.pais :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
