* {
  margin: 0;
  padding: 0;
}

.marcas {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.cuerpo{

}
.adidas {

}
.adidas :hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.envios {

}
.envios :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.puma {
  position: relative;
}
.puma :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.converse {


}
.converse :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.nike {


}
.nike :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
.pais {


}
.pais :hover {
    transform: scale(1.01);
    transition: 0.5s;
}
